.navbar{
    background-color: #393E46
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
a{
    color: #6D9886;
}
a:hover{
    color: #71ae95;
}
.nav-link{
    color: #6D9886;
}
.nav-link:focus, .nav-link:hover {
    color: #71ae95;
}
.nav-item{
    width: fit-content;
}
.nav-link.active{
    background-color: #71ae95;
    border-radius: 15%;
    color: white;
}
@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
        justify-content: center;
    }
}